{% extends 'layout.html' %}

{% block title %}
    ABOUT
{% endblock %}

{% block content %}
    <h1>ABOUT</h1>
<p>This site was developed by the Cleveland Codes Bootcamp, Software Developers Academy at 
    Cuyahoga Community College as part of a capstone project for the CDL Truck Driver Training Program. 
    The purpose of this site is to facilitate the management of CDL training sessions for students enrolled in the program.</p><br>
    <p>Participating developers include: 
        <ul style = "margin-left: 25px;">
            <li>Austin Wirtz</li>
            <li>Destiny O'Connor</li>
            <li>Haylee Bryars</li>
            <li>Khara Sims</li>
            <li>Tommy Likosar</li>
        </ul>
    </p>
{% endblock %}