<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            TITLE TAG CONTENT
        {% endblock %}
    </title>
    <script src="{% static 'js/main.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <a href="/">🏠</a> | 
        <a href="/about">About</a> | 
        <a href="/privacy">Privacy</a> | 
        {% if user.is_authenticated %}
            <form class="logout" method="post" action="{% url 'users:logout' %}">
                {% csrf_token %}
                <button class="logout-button">Logout</button>
            </form> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Welcome {{ user.first_name }} {{ user.last_name }}
        {% else %}
            <a href="{% url 'users:login' %}">Login</a> 
        {% endif %}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>