
{% extends 'layout.html' %}

{% block title %}
    Backing Skills Ratings
{% endblock %}

{% block content %}

  <h2>Backing Skills Ratings</h2>
    <div class="left">
      <form method="GET" action="">
        <label for="student_id">Filter by Student:</label>
        <select name="student_id" id="student_id" onchange="this.form.submit()">
          <option value="">-- All Students --</option>
          {% for student in students %}
            <option value="{{ student.id }}" 
                {% if selected_student_id == student.id|stringformat:"i" %}selected{% endif %}>
                {{ student.get_full_name|default:student.username }}
            </option>
          {% endfor %}
        </select>
        &nbsp;&nbsp;&nbsp;<a href="{% url 'ratings:instr-list-backing-skills' %}">Clear</a>
        </form>
      <a href="/ratings/backing-skills/"><button> New </button></a>
    </div><br />
    <hr>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Student</th>
          <th>BTW Hours</th>
          <th>Alley Dock</th>
          <th>Straight Line</th>
          <th>Offset Backing Left</th>
          <th>Offset Backing Right</th>
          <th>Parallel Park</th>
          <th>Coupling</th>
          <th>Uncoupling</th>
          <th>Pull Ups</th>
          <th>Encroachments</th>
          <th>Instructor Approval</th>
          <th>Student Approval</th>
          <th>Action</th>
      </thead>
      <tbody>
        {% for r in ratings %}
          <tr>
            <td>{{ r.rating_date|date:"M d, Y" }}</td>
            <td>{{ r.student }}</td>
            <td>{{ r.btw_hours_today }}</td>
            <td>{{ r.alley_dock }}</td>
            <td>{{ r.straight_line }}</td>
            <td>{{ r.off_set_backing_right }}</td>
            <td>{{ r.off_set_backing_left}}</td>
            <td>{{ r.parallel_park }}</td>
            <td>{{ r.coupling}}</td>
            <td>{{ r.uncoupling }}</td>
            <td>{{ r.pull_ups }}</td>
            <td>{{ r.encroachments}}</td>
            <td>
                {% if r.instructor_approval %}
                    <i class="fa-solid fa-check"></i>
                {% else %}
                    ---
                {% endif %}
            </td>
            <td>
               {% if r.student_approval %}
                    <i class="fa-solid fa-check"></i>
                {% else %}
                    ---
                {% endif %}
            </td>
            <td>
                <a href="{% url 'ratings:instr-edit-backing-skills' r.id %}"><i class="fas fa-edit"></i></a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3" class="text-center">
              No evaluations found.
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
