<!--
{% extends 'layout.html' %}

{% block title %}
    Backing Skills Ratings
{% endblock %}

{% block content %}
  <style>
    table, th, tr, td { border: solid 1px black;
                        border-collapse: collapse; }
    tr:nth-child(odd) {
        background-color: #F0F0F0; }
    tr:hover { background-color: #E7E7E7; }
    td {text-align:center; }
    .left { text-align: left; }
    select, button { font-size: 1rem;
                     font-family: Arial, Helvetica, sans-serif; }
  </style>

  <h2>Backing Skills Ratings</h2>
    <div class="left">
      <select name="student" id="student">
        <option value="">Select Student</option>
      </select>
      &nbsp;&nbsp;&nbsp;<button> Submit </button>
      &nbsp;&nbsp;&nbsp;<a href="/ratings/backing-skills/"><button> New </button></a>
    </div><br />
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Student</th>
          <th>BTW Hours</th>
          <th>Alley Dock</th>
          <th>Straight Line</th>
          <th>Offset Backing Left</th>
          <th>Offset Backing Right</th>
          <th>Parallel Park</th>
          <th>Coupling</th>
          <th>Uncoupling</th>
          <th>Pull Ups</th>
          <th>Encroachments</th>
          <th>Instructor Approval</th>
          <th>Student Approval</th>
          <th>Action</th>
      </thead>
      <tbody>
        {% for r in ratings %}
          <tr>
            <td>{{ r.rating_date|date:"M d, Y" }}</td>
            <td>{{ r.student }}</td>
            <td>{{ r.btw_hours_today }}</td>
            <td>{{ r.alley_dock }}</td>
            <td>{{ r.straight_line }}</td>
            <td>{{ r.off_set_backing_right }}</td>
            <td>{{ r.off_set_backing_left}}</td>
            <td>{{ r.parallel_park }}</td>
            <td>{{ r.coupling}}</td>
            <td>{{ r.uncoupling }}</td>
            <td>{{ r.pull_ups }}</td>
            <td>{{ r.encroachments}}</td>
            <td>
                {% if r.instructor_approval %}
                    <i class="fa-solid fa-check"></i>
                {% else %}
                    ---
                {% endif %}
            </td>
            <td>
               {% if r.student_approval %}
                    <i class="fa-solid fa-check"></i>
                {% else %}
                    ---
                {% endif %}
            </td>
            <td>
                <a href="{% url 'ratings:instr-edit-backing-skills' r.id %}"><i class="fas fa-edit"></i></a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3" class="text-center">
              No evaluations found.
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
-->