{% extends 'layout.html' %}
{% block title %}
View Narratives
{% endblock %}

{% block content %}
<div class="container mt-4">
<h2>My Narratives</h2>
  </div><br />
  <div>
    <table>
      <thead>
      <tr>
        <th>Date</th>
        <th>Instructor</th>
        <th>Narrative</th>
        <th>Instructor Approval</th>
        <th>Student Approval</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for r in ratings %}
        <tr>
          <td>{{ r.rating_date|date:"M d, Y" }}</td>
          <td>{{ r.instructor }}</td>
          <td class="text-start">{{ r.narrative|linebreaksbr }}</td>
          <td>{% if r.instructor_approval %}<i class="fa-solid fa-check"></i>{% else %}---{% endif %}</td>
          <td>{% if r.student_approval %}<i class="fa-solid fa-check"></i>{% else %}---{% endif %}</td>
            <td>
                <i class="fas fa-edit"></i>
            </td>
          </tr>
        {% empty %}
          <tr><td colspan="8" class="text-center">No Narrative records found.</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}